.services {
  &__card {
    flex-basis: 33%;
    background-color: $color-white;
    position: relative;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 2.5rem;

      @include responsive(MD) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }

  &__card-content {
    padding: 1.5rem;
  }

  &__card-image-container {
    overflow: hidden;
  }

  &__card-image {
    width: 100%;
    height: auto;
  }

  &__card-header {
    background: $color-primary-blue;
    color: $color-white;
    text-align: center;
    width: 100%;
    padding: 0.8rem 0;
    font-size: 2rem;
  }

  &__card-heading {
    color: $color-primary-blue;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1.5rem;
    position: relative;
    line-height: 1;

    &::after {
      content: '';
      position: absolute;
      width: 6.5rem;
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 1px solid $color-primary-blue;
    }
  }

  &__card-text {
    font-size: 1.6rem;
    font-weight: 300;
    color: $primary-text-color;
    text-align: center;
    padding-top: 1.5rem;

    @include responsive(LG) {
      // 1024px
      font-size: 1.4rem;
    }
  }
}
