.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 120rem;

  @include responsive(SM) {
    padding: 0 1rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(MD) {
    flex-direction: column;
  }
}

section {
  padding: 6rem 0;

  @include responsive(LG) {
    // 1024px
    padding: 5rem 0;
  }

  @include responsive(MD) {
    // 1024px
    padding: 4rem 0;
  }

  @include responsive(SM) {
    padding: 3rem 0;
  }
}
