.btn {
  &,
  &:link,
  &:visited {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
    border: none;
    transition: all 0.2s;

    @include responsive(LG) {
      // 1024px
      font-size: 1.3rem;
      padding: 1.3rem 2.5rem;
    }

    @include responsive(MD) {
      font-size: 1rem;
      padding: 0.75rem 1.5rem;
    }
  }

  &--clear {
    background-color: rgba($color-white, 0.15);
    color: $color-white;

    &__link {
      color: $color-white;
      text-decoration: none;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-primary-blue;

    &__link {
      text-decoration: none;
      color: $color-primary-blue;
    }
  }

  &--blue {
    background-color: $color-primary-blue;
    color: $color-white;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.btn-small {
  &,
  &:link,
  &:visited {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s;
    text-align: center;
    margin: 1.5rem auto;

    @include responsive(LG) {
      // 1024px
      font-size: 1.4rem;
    }
  }

  &__link {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
  }

  &--blue {
    color: $color-white;
    background-color: $color-primary-blue;
  }
}
